<h1>My WishList</h1>

<mat-divider></mat-divider>
<table #wishListTable mat-table [dataSource]="wishList" class="tableWidth">
  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <img class="imageSize" [src]="element.imageUrl" />
    </td>
    <td mat-footer-cell *matFooterCellDef>Total</td>
  </ng-container>

  <ng-container matColumnDef="productName">
    <th mat-header-cell *matHeaderCellDef>Product Name</th>
    <td mat-cell *matCellDef="let element">{{ element.productName }}</td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price | currency: "INR" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row">
      <button type="button" mat-icon-button (click)="delete(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-divider></mat-divider>
<div class="buttonPadding">
  <button
    [disabled]="wishList === undefined || wishList.length === 0"
    class="floatRight"
    mat-raised-button
    color="primary"
  >
    Move to Cart
  </button>
</div>
